@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@fontsource-variable/geist-mono';

@theme {
    --font-mono: 'Geist Mono Variable', monospace;
}

.prose-sm pre {
    font-family: var(--font-mono);
    font-variant-ligatures: none;
    overflow-x: auto;
    border-radius: 0.5rem;
    background-color: #111827;
    padding: 1rem;
    font-size: 0.875rem;
    color: #ffffff;
}
