---
import Root from '../layouts/Root.astro';
---

<Root>
    <div class="flex flex-col flex-grow items-center justify-center gap-4">
        <h1 class="text-2xl font-black text-stone-400">404</h1>
        <pre
            class="text-sm text-stone-500">
   |\---/|
   | ,_, |
    \_`_/-..----.
 ___/ `   ' ,""+ \  sk
(__...'   __\    |`.___.';
  (_,...'(_,.`__)/'.....+
	</pre>
    </div>
</Root>
