---
import Root from '@/layouts/Root.astro';
import Header from '@/components/index/Header.astro';
import About from '@/components/index/About.astro';
import Posts from '@/components/index/Posts.astro';
import Contact from '@/components/index/Contact.astro';
---

<Root>
    <div class="flex flex-col gap-8">
        <Header />
        <About />
        <Posts />
        <Contact />
    </div>
</Root>
