---
import Root from '@/layouts/Root.astro';
import Header from '@/components/index/Header.astro';
import About from '@/components/index/About.astro';
import Posts from '@/components/index/Posts.astro';
import Metadata from '@/components/Metadata.astro';
---

<Metadata
    description="Freddy Snow is a 20 y/o developer and student from the UK."
    image={import.meta.env.SITE + '/og/index.png'}
    url={import.meta.env.SITE}
    type="website"
/>
<Root>
    <div class="flex flex-col gap-8">
        <Header />
        <About />
        <Posts />
    </div>
</Root>
