<noscript>
    <div
        class="relative rounded border border-dashed border-yellow-400 bg-yellow-200 p-4 text-sm text-yellow-700"
        role="alert"
    >
        <span class="font-bold">Warning:</span> This page requires JavaScript to
        function.
    </div>
</noscript>
