---
import { formatDate } from '@/lib/post';
import type { MDPost } from '@/lib/post';

interface Props {
    frontmatter: MDPost['frontmatter'];
}

const { frontmatter } = Astro.props;
---

<div class="flex flex-col">
    <h1 class="font-bold text-stone-50">{frontmatter.title}</h1>
    <h2 class="text-sm text-stone-400">
        {formatDate(new Date(frontmatter.published))}
    </h2>
</div>
