---
import Link from '@/assets/icons/link.svg';
import Left from '@/assets/icons/left.svg';

interface Props {
    edited: boolean;
}

const { edited } = Astro.props;
---

<div class="flex justify-between">
    <a
        href="/"
        class="flex flex-row items-center gap-2 text-sm text-stone-400 hover:text-stone-300"
    >
        <Left class="h-3 w-3" />
        <span>back</span>
    </a>
    {
        edited && (
            <a
                href={`https://github.com/fjsnow/fjsn.io/commits/main${Astro.url.pathname}`}
                class="flex flex-row items-center gap-2 text-sm text-stone-400 hover:text-stone-300"
            >
                <span>history</span>
                <Link class="h-3 w-3" />
            </a>
        )
    }
</div>
