---
import { getOrdinalDate } from '@/lib/post';

interface Props {
    published: string;
    edited?: string;
    readingTime: string;
}

const { published, edited, readingTime } = Astro.props;
---

<div
    class="mt-2 flex min-w-fit flex-col justify-between text-right text-sm text-stone-400 sm:mt-0 sm:justify-start"
>
    <span>{getOrdinalDate(new Date(published))}</span>
    {edited && <span>Edited: {getOrdinalDate(new Date(edited))}</span>}
    <span>~{readingTime}</span>
</div>
