---
import { getOrdinalDate } from '@/lib/post';

interface Props {
    published: string;
    readingTime: string;
}

const { published, readingTime } = Astro.props;
---

<div
    class="mt-2 flex min-w-fit flex-col text-right text-sm text-stone-400 sm:mt-0"
>
    <span>{getOrdinalDate(new Date(published))}</span>
    <span>~{readingTime}</span>
</div>
