---
import type { MDPost } from '@/lib/post';

interface Props {
    tags: MDPost['frontmatter']['tags'];
}

const { tags } = Astro.props;
---

<div class="mt-2 flex flex-row flex-wrap gap-2">
    {
        tags
            .sort((a: string, b: string) => a.localeCompare(b))
            .map((tag: string) => (
                <span class="rounded-sm bg-stone-800 px-2 py-1 text-xs text-stone-400">
                    {tag}
                </span>
            ))
    }
</div>
