@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import '@fontsource-variable/roboto-mono';

@theme {
    --font-mono: 'Roboto Mono Variable', monospace;
}

:root {
    --prose-text-colour: var(--color-stone-950);
    --prose-marker-colour: var(--color-stone-500);
    --prose-link-colour: #0268e3;
    --prose-line-colour: var(--color-stone-200);
}

@media (prefers-color-scheme: dark) {
    :root {
        --prose-text-colour: var(--color-stone-50);
        --prose-link-colour: #358ffd;
        --prose-line-colour: var(--color-stone-800);
    }
}

@utility prose {
    li,
    table td,
    figure figcaption {
        color: var(--prose-text-colour);
        font-weight: 400;
    }

    table th {
        color: var(--prose-text-colour);
        font-weight: 700;
    }

    p {
        color: var(--prose-text-colour);
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        color: var(--prose-text-colour);
        margin-top: 0;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    strong {
        color: var(--prose-text-color);
    }

    pre.astro-code code {
        color: var(--color-stone-50);
    }

    p code,
    td code {
        color: var(--prose-text-colour);
    }

    a {
        font-weight: 400;
        color: var(--prose-link-colour);
        text-decoration: none;
        position: relative;
    }

    a:hover {
        text-decoration: underline;
    }

    a:not([href^='mailto:']):not([data-footnote-ref]):not(
            [data-footnote-backref]
        ):not(:has(img))::after {
        content: '';
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.25rem;
        background-color: currentColor;
        mask-image: url('../src/assets/icons/link.svg');
        -webkit-mask-image: url('../src/assets/icons/link.svg');
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
    }

    ol > li::marker,
    ul > li::marker {
        color: var(--prose-marker-colour);
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
    }

    pre {
        font-family: var(--font-mono);
        font-variant-ligatures: none;
        overflow-x: auto;
        border-radius: 0.5rem;
        background-color: #111827;
        padding: 1rem;
        font-size: 0.875rem;
    }

    hr {
        border-color: var(--prose-line-colour);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    table tr {
        border-bottom: 1px solid var(--prose-line-colour);
    }

    blockquote {
        border-left: 0.25rem solid var(--prose-line-colour);
        padding-left: 1rem;
        margin-left: 0;
    }
}
