@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@config "../tailwind.config.mjs";

@custom-variant dark {
    &:where([data-theme='dark'] *) {
        @slot;
    }
    @media (prefers-color-scheme: dark) {
        &:where(:not([data-theme='light'] *)) {
            @slot;
        }
    }
}

@import '@fontsource-variable/roboto-mono';

@theme {
    --font-mono: 'Roboto Mono Variable', monospace;
}

@utility prose {
    li,
    table td,
    figure figcaption {
        font-weight: 400;
    }

    table th {
        font-weight: 700;
    }

    p {
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin-top: 0;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.25rem;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }

    a {
        font-weight: 400;
        text-decoration: none;
        position: relative;
    }

    a[href]:hover {
        text-decoration: underline;
    }

    a:not([href^='mailto:']):not([data-encrypted-email]):not(
            [data-footnote-ref]
        ):not([data-footnote-backref]):not(:has(img))::after {
        content: '';
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.25rem;
        background-color: currentColor;
        mask-image: url('../src/assets/icons/link.svg');
        -webkit-mask-image: url('../src/assets/icons/link.svg');
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
        border: 1px solid var(--tw-prose-th-borders);
    }

    pre {
        font-family: var(--font-mono);
        font-variant-ligatures: none;
        overflow-x: auto;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 0.875rem;
    }

    hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .table-wrap table {
        min-width: max-content;
    }

    table tr {
        border-bottom: 1px solid var(--tw-prose-td-borders);
    }

    blockquote {
        border-left: 0.25rem solid var(--tw-prose-quote-borders);
        padding-left: 1rem;
        margin-left: 0;
    }
}
