---
import Section from './Section.astro';
---

<Section title="about">
    <div class="prose prose-sm prose-light dark:prose-dark max-w-none">
        <p>
            hi! i'm freddy (he/him), a 20 y/o developer and student. i'm
            interested in systems programming, web development and malware
            research! i also love mathematics.
        </p>
        <p>
            outside of studying and computer science, i'm a big fan of music,
            movies, and (especially) coffee.
        </p>
        <p>
            if you'd like to reach me, email me at <a href="mailto:hi@fjsn.io"
                >hi@fjsn.io</a
            > or message me <a href="https://x.com/fjsn_w">@fjsn_w</a>
        </p>
    </div>
</Section>
