---
import Email from './Email.astro';
import Section from './Section.astro';
---

<Section title="about">
    <div class="prose prose-sm prose-light dark:prose-dark max-w-none">
        <p>
            Hi! I'm Freddy (he/him), a 20 y/o developer and student. I'm
            interested in systems programming, web development and malware
            research! I also love mathematics.
        </p>
        <p>
            Outside of studying and computer science, I'm a big fan of music,
            movies, and (especially) coffee.
        </p>
        <p>
            If you'd like to reach me, shoot me an email at <Email
                email="hi@fjsn.io"
            />or send me a message <a href="https://x.com/fjsn_w">@fjsn_w</a>.
        </p>
    </div>
</Section>
