---
import Section from '@/components/index/Section.astro';

/* maybe a little over the top, but it's fun */

type Contact = {
    platform: string;
    text: string;
    link?: string;
    masked: boolean;
};

const contacts = [
    {
        platform: 'Email',
        text: 'hi@fjsn.io',
        masked: true,
    } satisfies Contact,
    {
        platform: 'Discord',
        text: 'frzddy',
        masked: false,
    } satisfies Contact,
] as Contact[];

const _1337 = (s: string) =>
    String.fromCharCode(
        ...[...s].map((c, i) => c.charCodeAt(0) + [1, 3, 3, 7][i % 4])
    );
---

<Section title="contact">
    <div class="flex flex-col gap-2 text-sm">
        {
            contacts.map((contact) => (
                <div
                    class="flex flex-row items-center justify-between gap-2"
                    id={contact.platform}
                    data-masked={contact.masked ? 'true' : 'false'}
                    data-value={contact.masked ? _1337(contact.text) : ''}
                    data-link={contact.masked ? _1337(contact.link || '') : ''}
                >
                    <span class="font-semibold">{contact.platform}</span>
                    {!contact.link ? (
                        <span>
                            {contact.masked
                                ? '*'.repeat(contact.text.length)
                                : contact.text}
                        </span>
                    ) : (
                        <a
                            class="flex items-center gap-1"
                            href={contact.masked ? '#' : contact.link}
                            target="_blank"
                        >
                            <span class="hover:underline">
                                {contact.masked
                                    ? '*'.repeat(contact.text.length)
                                    : contact.text}
                            </span>
                        </a>
                    )}
                </div>
            ))
        }
        <noscript>
            <p class="text-right text-xs text-stone-500 italic sm:text-sm">
                Enable JavaScript to view masked information.
            </p>
        </noscript>
    </div>
</Section>

<script>
    const _7331 = (s: string) =>
        String.fromCharCode(
            ...[...s].map((c, i) => c.charCodeAt(0) - [1, 3, 3, 7][i % 4])
        );

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll("[data-masked='true']").forEach((element) => {
            const value = element.getAttribute('data-value');
            const link = element.getAttribute('data-link');
            if (value) element.children[1].textContent = _7331(value);
            if (link) element.children[1].setAttribute('href', _7331(link));
        });
    });
</script>
