---
import { Image } from 'astro:assets';
import Avatar from '@/assets/avatar.png';
---

<div class="flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col">
        <div class="flex flex-row items-center gap-2">
            <Image
                src={Avatar}
                alt="avatar"
                width="96"
                height="96"
                class="h-6 w-6 rounded-sm border border-stone-200 dark:border-stone-700"
                quality="max"
            />
            <span class="font-semibold">Freddy Snow</span>
        </div>
        <span class="text-sm text-stone-500 dark:text-stone-400">
            cs student at <a
                href="https://birmingham.ac.uk"
                class="hover:text-stone-700 dark:hover:text-stone-300">uob</a
            > (uk)
        </span>
    </div>
</div>
