---
import Link from '@/assets/icons/link.svg';

import { formatDate } from '@/lib/post';
import type { MDPost } from '@/lib/post';

interface Props {
    post: MDPost;
}

const { post } = Astro.props;
---

<a href={post.url} class="flex flex-row items-center justify-between gap-2">
    <div class="flex flex-row items-center gap-2">
        <h1 class="text-sm">{post.frontmatter.title}</h1>
    </div>
    <span class="text-xs text-stone-400">
        {formatDate(new Date(post.frontmatter.published))}
    </span>
</a>
