---
import type { MDPost } from '@/lib/post';
import { getOrdinalDate } from '@/lib/post';

interface Props {
    post: MDPost;
}

const { post } = Astro.props;
---

<a
    href={post.url}
    class="flex flex-col rounded-xs border border-stone-800 px-3 py-2 transition-colors hover:bg-stone-900"
>
    <div class="mb-1 flex flex-row justify-between gap-2">
        <h1 class="font-semibold">{post.frontmatter.title}</h1>
        <span class="text-xs text-stone-400">
            {getOrdinalDate(new Date(post.frontmatter.published))}
        </span>
    </div>
    <p class="mb-2 text-sm">{post.frontmatter.description}</p>
    <div class="flex flex-row flex-wrap gap-2">
        {
            post.frontmatter.tags
                .sort((a, b) => a.localeCompare(b))
                .map((tag) => (
                    <span class="rounded-xs bg-stone-800 px-2 py-1 text-xs text-stone-400">
                        {tag}
                    </span>
                ))
        }
    </div>
</a>
