---
import Section from './Section.astro';
import Post from './Post.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).filter(
    (post) => post.data.listed !== false
);
---

<Section title="posts">
    {
        posts.length > 0 ? (
            <div class="flex flex-col gap-4">
                {posts.map((post) => (
                    <Post post={post} />
                ))}
            </div>
        ) : (
            <h1 class="mt-2 text-center text-sm text-stone-700 italic dark:text-stone-400">
                no posts.
            </h1>
        )
    }
</Section>
