---
import type { MDPost } from '@/lib/post';
import { getOrdinalDate } from '@/lib/post';

interface Props {
    post: MDPost;
}

const { post } = Astro.props;
---

<a
    href={post.url}
    class="flex flex-col py-2 px-3 border border-stone-800 hover:bg-stone-900 rounded-xs transition-colors"
>
    <div class="flex flex-row gap-2 justify-between mb-1">
        <h1 class="font-semibold">{post.frontmatter.title}</h1>
        <span class="text-stone-400 text-xs">
            {getOrdinalDate(new Date(post.frontmatter.published))}
        </span>
    </div>
    <p class="text-sm mb-2">{post.frontmatter.description}</p>
    <div class="flex flex-row gap-2 flex-wrap">
        {
            post.frontmatter.tags
                .sort((a, b) => a.localeCompare(b))
                .map((tag) => (
                    <span class="text-xs bg-stone-800 text-stone-400 px-2 py-1 rounded-xs">
                        {tag}
                    </span>
                ))
        }
    </div>
</a>
