---
import Footer from '@/components/layout/Footer.astro';
---

<div class="mx-auto flex min-h-dvh max-w-2xl flex-col justify-between px-4">
    <div class="my-8 flex flex-grow flex-col sm:my-16">
        <div class="flex w-full flex-grow flex-col"><slot /></div>
        <Footer />
    </div>
</div>
