---
import Link from '@/assets/icons/link.svg';
---

<div class="flex flex-col justify-between mx-auto max-w-2xl px-4 min-h-dvh">
    <div class="flex flex-col flex-grow my-8 sm:my-16">
        <div class="flex flex-col w-full flex-grow"><slot /></div>
        <div
            class="flex justify-center items-center gap-2 text-sm text-stone-400 mt-8 sm:mt-16"
        >
            <span>© 2025 Freddy Snow - </span>
            <a
                href="https://astro.build"
                class="hover:text-stone-300 flex items-center gap-2"
            >
                <span>Built with Astro</span>
                <Link class="w-3 h-3" />
            </a>
        </div>
    </div>
</div>
