---
import Left from '@/assets/icons/left.svg';
import Link from '@/assets/icons/link.svg';

import Root from '@/layouts/Root.astro';
import Header from '@/components/post/Header.astro';
import Links from '@/components/post/Links.astro';

import type { MDPost } from '@/lib/post';

const { frontmatter } = Astro.props as MDPost;
---

<Root>
    <div class="flex flex-col gap-6">
        <Links edited={frontmatter.edited ?? false} />
        <Header frontmatter={frontmatter} />
        <div class="h-px w-full bg-stone-800"></div>
        <div class="prose prose-sm prose-invert prose-neutral max-w-none">
            <slot />
        </div>
    </div>
</Root>
