---
import '@/styles/global.css';
import Layout from '@/layouts/Layout.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Freddy Snow is a 20 year old computer science student from the UK."
        />
        <title>Freddy Snow</title>
    </head>
    <body class="bg-[#151515] font-mono text-stone-50 antialiased">
        <Layout>
            <slot />
        </Layout>
    </body>
</html>
