---
import '@/global.css';
import Layout from '@/layouts/Layout.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="format-detection" content="telephone=no" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>Freddy Snow</title>
    </head>
    <body
        class="bg-[#FCFCFC] font-mono text-stone-950 antialiased dark:bg-[#151515] dark:text-stone-50"
    >
        <Layout>
            <slot />
        </Layout>
    </body>
</html>
